<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% if title %}
    <title>TechTalk - {{ title }}</title>
    {% else %}
    <title>TechTalk</title>
    {% endif %}
</head>

<body>
    <header class="site-header mb-3">
        <nav class="navbar navbar-expand-md navbar-light bg-steel">
            <div class="container">
                <a class="navbar-brand mr-4" href="/"><img src="{{ url_for('static', filename='logo.png') }}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                        <a class="nav-item m-2" href="{{ url_for('posts.create_post') }}">
                            <button type="button" class="btn btn-outline-dark">New Post</button>
                        </a>
                        <a class="nav-item m-2" href="{{ url_for('users.account') }}">
                            <button type="button" class="btn btn-light">Account</button>
                        </a>
                        <a class="nav-item m-2" href="{{ url_for('users.logout') }}">
                            <button type="button" class="btn btn-light">Logout</button>
                        </a>
                        <a href="{{ url_for('users.user_posts', username=current_user.username) }}">
                            <img src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" class="rounded-circle user-img">
                        </a>
                        {% else %}
                        <a class="nav-item m-2" href="{{ url_for('users.login') }}">
                            <button type="button" class="btn btn-light">Login</button>
                        </a>
                        <a class="nav-item m-2" href="{{ url_for('users.register') }}">
                            <button type="button" class="btn btn-light">Sign Up</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3 class="mt-2 mb-3">Today's Tech Trivia</h3>
                    <p>Before becoming Google's smartphone OS, Android was being developed for what kind of device?</p>
                    <div class="card-header" id="triviaHeading" style="cursor: pointer">
                          <p class="text-muted text-left mb-0" data-toggle="collapse" data-target="#triviaCollapse" aria-expanded="true" aria-controls="triviaCollapse">
                            Click for Answer
                          </p>
                      </div>
                      <div id="triviaCollapse" class="collapse" aria-labelledby="triviaHeading" data-parent="#accordion">
                        <div class="card-body">
                            <h5>Cameras</h5>
                            <p>According to Android Inc. founder Andy Rubin, the software that became the company's Android smartphone OS was originally designed to be used in "smart cameras" but was later repurposed for handsets after it was realized that the market for digital cameras was waning. His original pitch to investors in April 2004 showed a camera that would connect to a home computer (wired or wireless) that would then connect to an Android datacenter.</p>
                            <small class="text-muted">Source: <a style="text-decoration: none;" href="https://www.techspot.com/">TechSpot</a></small>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>